{{template "top" .}}

<div class="max-w-[50rem] flex flex-col mx-auto w-full h-full">
    <!-- ========== HEADER ========== -->
    <header class="mb-auto flex justify-center z-50 w-full py-4">
      <nav class="px-4 sm:px-6 lg:px-8" aria-label="Global">
        <a class="flex-none text-xl font-semibold sm:text-3xl dark:text-white" href="/" aria-label="Brand">
            <div class="flex items-center">
                <img src="img/fav_icon.svg" class="w-6 h-6" />
                <p
                  class="ml-2 text-xl font-semibold text-slate-700 dark:text-slate-200"
                >
                  very&bull;smart
                </p>
              </div>
        </a>
      </nav>
    </header>
    <!-- ========== END HEADER ========== -->

    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
      <div class="text-center py-10 px-4 sm:px-6 lg:px-8">
        <h1 class="block text-7xl font-bold text-gray-800 sm:text-9xl dark:text-white">{{.code}}</h1>
        <h1 class="block text-2xl font-bold text-white"></h1>
        <p class="mt-3 text-gray-600 dark:text-gray-400">Oops, something went wrong.</p>
        <p class="text-gray-600 dark:text-gray-400">{{.msg}}</p>
 
      </div>
    </main>
    <!-- ========== END MAIN CONTENT ========== -->

    <!-- ========== FOOTER ========== -->
    <footer class="mt-auto text-center py-5">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <p class="text-sm text-gray-500">© All Rights Reserved. 2022.</p>
      </div>
    </footer>
    <!-- ========== END FOOTER ========== -->
</div>
</body>
{{template "btm" .}}