{{define "right"}}
<div
class="fixed z-20 top-[3.8125rem] bottom-0 right-[max(0px,calc(50%-45rem))] w-[19.5rem] py-10 px-8 overflow-y-auto hidden xl:block">
<h5 class="text-slate-900 font-semibold mb-4 text-sm leading-6 dark:text-slate-100">
    Кабинет пользователя</h5>
<ul class="text-slate-700 text-sm leading-6">
    <li><a href="https://account.mail.ru/signup?from=navi&lang=ru_RU&siteid=485&app_id_mytracker=53061"
            class="block py-1 font-medium text-sky-500 dark:text-sky-400">Регистрация</a></li>
    <li>
        <a href="#maintainability-concerns"
        class="block py-1 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300">
        Уведомления</a>
    </li>

</ul>
<h5 class="text-slate-900 mt-4 font-semibold mb-4 text-sm leading-6 dark:text-slate-100">
    Сейчас обсуждают</h5>
<ul class=" text-sm leading-6">
    <li><a href="https://pulse.mail.ru/article/bezhim-na-musorku-tam-mnogo-vkusnogo-pochemu-sobaka-est-na-pomojke-hotya-doma-ee-kormyat-4882681612536085777-3400339051217577799/"
            class="block py-1 font-medium hover:border-slate-400 dark:hover:border-slate-500 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300">
            "Бежим на мусорку, там много вкусного!" Почему собака ест на помойке, хотя дома ее кормят</a>
    </li>
    <li>
        <a href="https://pulse.mail.ru/article/6-predmetov-roskoshi-iz-sssr-kotorye-sejchas-ne-stoyat-nichego-i-ih-mozhno-vykinut-iz-doma-8260906898648068474-8094900325313788801/?user_session_id=beae046218db42&utm_referrer=https%3A%2F%2Fpulse.mail.ru&utm_source=pulse_mail_ru&utm_content=main_fulltext_ctr"
        class="block py-1 font-medium hover:border-slate-400 dark:hover:border-slate-500 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300">
        6 предметов роскоши из СССР, которые сейчас не стоят ничего и их можно выкинуть из дома
        </a>
    </li>
    

</ul>
<img class="mt-4"src="https://i.imgur.com/9ijw7KU.png"/>
</div>
{{end}}